PORT=4000
GEMINI_API_KEY=AIzaSyBuuIP5C9e6sC-PYERBIXPz3XGJwIz3TYI
MONGODB_URI=mongodb+srv://manoj:<Manoj123>@cluster0.z8rj1ow.mongodb.net/?appName=Cluster0
ELASTIC_URL=https://afdd1651c2b542ada69956526ef43a58.us-central1.gcp.cloud.es.io:443
ELASTIC_API_KEY=a0RYT1c1NEJQZk9Bd2xXSW1VRi06Y0pBSjlnOEtKbjg3bzhJMkRjMlZWZw==
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
